.javascripts

  script(src="dist/reveal.js")
  script(src="plugin/notes/notes.js")
  script(src="plugin/markdown/markdown.js")
  script(src="plugin/highlight/highlight.js")
  script(src="plugin/zoom/zoom.js")
  script(src="js/reveal-config.js")