- const talkTitle = "I'm Gonna Make You Stop Hating CSS."
- const description = "A talk by Lemon 🍋 about the things that are weird, the things that are great, and the things you can do with CSS."
- const siteURL = "https://ahoylemon.github.io/stop-hating-css"