html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=Edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="css/example.css")
    title HELLO
  body(style="height:unset;")

    style.
      .flex-container { display: flex; }
      .flex-container .flex-item { background: white; margin:0; padding:1.25em; box-shadow: 0 0 6px rgba(0,0,0,0.9); font-size:16px; margin-bottom:20px !important; }
      .flex-item img  { height:230px; width:auto }

    .flex-container
      figure.flex-item
        img(src="img/bjorks/1.jpg")
      figure.flex-item
        img(src="img/bjorks/2.jpg")
      figure.flex-item
        img(src="img/bjorks/3.jpg")
      figure.flex-item
        img(src="img/bjorks/4.jpg")
      figure.flex-item
        img(src="img/bjorks/5.jpg")
      figure.flex-item
        img(src="img/bjorks/6.jpg")
      figure.flex-item
        img(src="img/bjorks/7.jpg")
      figure.flex-item
        img(src="img/bjorks/8.jpg")
      figure.flex-item
        img(src="img/bjorks/9.jpg")
      figure.flex-item
        img(src="img/bjorks/10.jpg")
      figure.flex-item
        img(src="img/bjorks/11.jpg")
      figure.flex-item
        img(src="img/bjorks/12.jpg")
