section
  section
    h3 Today's agenda:
    ol
      li Things that are weird
      li Things that are great
      li Things you can try now
  
  section(data-background="img/gif/focus.gif")
    h3.shadowed Let's get weird!
  
  section
    h4(style="text-transform:upercase;") 
      | Lyrics: #[br] "Hocus Pocus" by Focus
    pre(style="")
      code.no-highlight(no-highlight lang="focus" style="line-height:170%; height:80vh;").
        Yodeadodoyodeadodoyodeadodoyodeadodo
        yodeadodoyodeadodoyo-bab-baaaaa
        Ahhhhhh-aaahhhh-aaaaaa-aaaaAAA!
        Ohhhhhh-ooohhh-oooooo-oooOOO!
        Yodeadodoyodeadodoyodeadodoyodeadodo
        yodeadodoyodeadodoyo-bab-baaaaa
        Ahhhhhh-aaahhhh-aaaaaa-aaaaAAA!
        Ohhhhhh-ooohhh-oooooo-oooOOO!
        umdub-adaoh-segel-ungucur-ungetu-hungetur-hupreyu
        undubea-unpedurl-humpelilly-luptodoro-licktetor-ulumpadero
        umbader-lickatine-lupator-lackatera
        batickatheplalera
        theblumpalumpadera
        ho?
        ho ho ha haaaa!
        Yodeadodoyodeadodoyodeadodoyodeadodo
        yodeadodoyodeadodoyo-bab-baaaaa
        Ahhhhhh-aaahhhh-aaaaaa-aaaaAAA!
        Ohhhhhh-ooohhh-oooooo-oooOOO!
        Bom bom bom bom
        Bom bom bom
        Bom bom bom bom bom bom bom
        Bom bom bom
        Bom bom bom
        Bom bom bom bom bom bom
        Bac bac bac bac bac backaaaaa!
        Yeeeeha!
        ba um um um um um
        ba um um um um um
        ba oooohhboooobooboboboooo!
        Yodeadodoyodeadodoyodeadodoyodeadodo
        yodeadodoyodeadodoyo-bab-baaaaa
        Ahhhhhh-aaahhhh-aaaaaa-aaaaAAA!
        Ohhhhhh-ooohhh-oooooo-oooOOO!
        Yeaah! Whoooo!