section
  section
    h3 Today's agenda:
    ol
      li Things that are weird
      li Things that are great
      li Things you can try now
  
  section(data-background="img/gif/focus.gif")
    h3.shadowed Let's get weird!