section
  section
    img(src="img/gif/css_family-guy.gif")
  section
    video(src="video/css_bottles.mp4" style="height:65vh" autoplay loop)
  section
    video(src="video/css_dock.mp4" style="width:100%" autoplay loop)
  section
    video(src="video/css_rock.mp4" autoplay loop)
  section
    video(src="video/css_rollers.mp4" style="height:65vh" autoplay loop)
    p
      | CSS GIFs by 
      a(href="https://twitter.com/lynnandtonic" target="_blank") Lynn Fisher