section

  section
    .grid(columns="3")
      .box
        img(src="svg/logos/pug.svg")
      .box.fragment
        img(src="svg/logos/sass.svg")
      .box.fragment
        img(src="svg/logos/vue.svg")
      .box.fragment
        img(src="svg/logos/ember.svg")
      .box.fragment
        img(src="svg/logos/dotnet-2.svg")
      .box.fragment
        img(src="svg/logos/php.svg")
      .box.fragment
        img(src="svg/logos/bourbon.svg")
      .box.fragment
        img(src="svg/logos/beer.svg")
      .box.fragment
        img(src="img/logos/gin.jpg")

  section
    .grid(columns="3")
      .box
        img(src="svg/logos/html-5.svg")
      .box
        img(src="svg/logos/javascript.svg")
      .box
        img(src="svg/logos/css-3.svg")

  section
    img(src="svg/logos/css-3.svg")

  //-section
    h1 I love CSS.
    h2.fragment You hate CSS.
    aside.notes(data-markdown).
      Raise your hand
  
  section
    h1 CSS is easy
      span.fragment 
        | ?
        br
        | No.

  section
    h1.strobe CSS IS GREAT


  section
    img(src="img/gif/css_family-guy.gif")
    aside.notes(data-markdown).
      If you type **CSS** into Google Image Search
      

  section
    video(src="video/css_blocks.mp4" autoplay loop)
    aside.notes(data-markdown).
      More like this