section
  section
    figure
      h2
        a(href="https://flukeout.github.io/" target="_blank") CSS Diner
      a(href="https://flukeout.github.io/" target="_blank")
        img(src="img/screenshots/css-diner.jpg")
      p by flukeout

  section
    figure
      h2
        a(href="https://flexboxfroggy.com/" target="_blank") Flexbox Froggy
      a(href="https://flexboxfroggy.com/" target="_blank")
        img(src="img/screenshots/flexbox-froggy.png")
    p by Thomas H. Park

  section
    figure
      h2
        a(href="https://cssgridgarden.com/" target="_blank") Grid Garden
      a(href="https://cssgridgarden.com/" target="_blank")
        img(src="img/screenshots/cssgrid-garden.png")
    p by Thomas H. Park
  section
    figure
      a(href="https://codepen.io/search/pens?q=css%20only" target="_blank")
        img(src="img/logos/codepen.png")
  section
    figure
      a(href="https://cssbattle.dev" target="_blank")
        img(src="img/logos/css-battle.png")
