section(data-transition="convex" data-transition-speed="6000")
  section
    h1 Hi!
    h2.fragment My name is Lemon.
    p.fragment (I make websites.)
    aside.notes
      h2 I've been making websites for about 20 years. I make websites for money and I make websites for fun. I love the platform and I think it's a really great opportunity to make fun stuff.
  
  section(data-background="img/bg/savas-cyan-1.png")
    h4(style="color:#221c35; text-shadow:none;") I work at
    .fragment(style="padding-bottom:7vh;")
      img(src="svg/savas-logo-black.svg" alt="Savas Labs" style="max-height:22vh;")

  section(data-background="img/bg/savas-cyan-2.png" data-background-transition="none")
    div(style="color:#221c35; padding-bottom:9vh;")
      h2(style="text-shadow:none; color:#221c35;") Front End Lead
      .fragment
        ul
          li Mentoring
          li Shepherding
          li Documenting
  section(data-transition="fade" data-background="img/bg/savas-cyan-2.png")
    .over-photo
      code I am a serious professional.
  section(data-transition="none" data-background-image="img/gif/shooty-frooty.gif" data-background-size="contain")
    .over-photo
      code I am a serious professional.
