section
  section(data-background="img/bg/ie.png")

  section(data-background="img/bg/ie-tombstone.jpg")

  section
    h2
      a(href="https://caniuse.com/?search=grid" target="_blank")
        code Can I use grid?

  section
    p 
      b Takeaways:
    ul
      li IE 10 & 11 (< 2%) has  
        i some
        |  support (needs prefix & testing)
      li No support in IE 9- (Global Use < 0.2%)
      li All other lackings in browsers 4+ years behind on updates

  section
    h2
      a(href="https://caniuse.com/?search=flex" target="_blank")
        code Can I use flex?