section

  // Turn Phrase Crew (Japan) vs Extreme Crew (Korea)
  +videoBG('m62SPPh9Nzc',217)
    h3 This is a Title
    .a-talk-by(style="margin-top:26.5vh;")
      b.white.shadowed
        | (a talk by @AhoyLemon)
    aside.notes
      h2 Turn Phrase Crew (Japan)
      h2 vs Extreme Crew (Korea)
      p 2007