section

  // Flooriorz (Japan) vs Tie Break (France)
  +videoBG('hbqCRGDwcHQ',2400)
    aside.notes
      h2 BATTLE OF THE YEAR 2021
      p Flooriorz (Japan)
      p vs
      p Tie Break (France)
    h2.shadowed
      | I'm Gonna Make You
      br
      | Stop Hating CSS

    .a-talk-by(style="margin-top:35.5vh;")
      b.white.shadowed
        | (a talk by @AhoyLemon)

  // Jinjo Crew (Korea) vs The Ruggeds (Netherlands)
  //-+videoBG('jSZ9QB5Myw4',60)
    aside.notes
      h2 BATTLE OF THE YEAR 2021
      p Jinjo Crew (Korea)
      p vs
      p The Ruggeds (Netherlands)
    h2.shadowed
      | I'm Gonna Make You
      br
      | Stop Hating CSS

    .a-talk-by(style="margin-top:35.5vh;")
      b.white.shadowed
        | (a talk by @AhoyLemon)

  // Flying Step (Germany) vs Squadron (USA)
  +videoBG('yBdXfKxVpV4',111)
    aside.notes
      h2 BATTLE OF THE YEAR 2021
      p Flying Step (Germany)
      p vs
      p Squadron (USA)
    h2.shadowed
      | I'm Gonna Make You
      br
      | Stop Hating CSS
    .a-talk-by(style="margin-top:35.5vh;")
      b.white.shadowed
        | (a talk by @AhoyLemon)

  +videoBG('JxI-elT-6fo',8)
    aside.notes
      h2 STREETSTAR 2013
      p MVI (SWE)
      p vs
      p Enough (SWE)
    h2.shadowed
      | I'm Gonna Make You
      br
      | Stop Hating CSS
    .a-talk-by(style="margin-top:35.5vh;")
      b.white.shadowed
        | (a talk by @AhoyLemon)