section

  section
    h1
      code overflow
    aside.notes(data-markdown).
      First difficult thing. It makes this famous image....

  section
    figure
      img(src="img/css-awesome-mug.png")
    aside.notes(data-markdown).
      **overflow** is how you get this famous image

  section

    code CSS
    pre.huge
      code.css.
        .box { 
          border:0.1em solid white; 
          width: 4em;
          padding:0.3em;
        }

  section
    code HTML
    pre.huge
      code.html.
        <div class="box">
          CSS IS AWESOME
        </div>

  section
    #box-1
      | CSS IS AWESOME
    style.
      #box-1 { font-size:9vh; font-weight:bold; border:0.1em solid white; width:4em; text-align:left; padding:0.3em; box-sizing:border-box; letter-spacing:0.1em;
        margin-left:auto; margin-right:auto;
        }
    aside.notes(data-markdown).
      ## Let's solve this one way!!!

  section
    pre.huge
      code.css.
        overflow:hidden;

  section
    #box-3
      | CSS IS AWESOME
    style.
      #box-3 { font-size:9vh; font-weight:bold; border:0.1em solid white; width:4em; text-align:left; padding:0.3em; box-sizing:border-box; letter-spacing:0.1em; margin-left:auto; margin-right:auto;
        overflow:hidden;
      }

  section
    pre.huge
      code.css.
        overflow-y:hidden;
  
  section
    #box-5(title="CSS IS AWESOME")
      | CSS IS AWESOME
    style.
      #box-5 { font-size:9vh; font-weight:bold; border:0.1em solid white; width:4em; text-align:left; padding:0.3em; box-sizing:border-box; letter-spacing:0.1em; margin-left:auto; margin-right:auto;
        overflow-y:hidden;
      }

  section
    pre.huge
      code.css.
        word-break:break-word;

  section
    #box-2
      | CSS IS AWESOME
    style.
      #box-2 { font-size:9vh; font-weight:bold; border:0.1em solid white; width:4em; text-align:left; padding:0.3em; box-sizing:border-box; letter-spacing:0.1em;
        word-break:break-word; margin-left:auto; margin-right:auto;
      }

  section
    pre.huge
      code.css.
        text-overflow:ellipsis;

  section
    #box-4(title="CSS IS AWESOME")
      | CSS IS AWESOME
    style.
      #box-4 { font-size:9vh; font-weight:bold; border:0.1em solid white; width:4em; text-align:left; padding:0.3em; box-sizing:border-box; letter-spacing:0.1em; margin-left:auto; margin-right:auto;
        overflow:hidden; text-overflow:ellipsis;
      }

  section

    code CSS
    pre.huge
      code.css.
        .box { 
          border: 0.1em solid white; 
          width: 4em;
          padding: 0.3em;
          margin-right: auto;
        }

  section
    s &nbsp;width: 4em;&nbsp;

  section
    #box-6(title="CSS IS AWESOME")
      | CSS IS AWESOME
    style.
      #box-6 { font-size:8.5vh; font-weight:bold; border:0.1em solid white; text-align:left; padding:0.3em; box-sizing:border-box; letter-spacing:0.1em; display:inline-block; }

  section
    sub
      strong Original idea: 
      span 
        a(href="https://css-tricks.com/author/brundolf/" target="_blank") Brandon Smith
        | 's blog post on 
        a(href="https://css-tricks.com/css-is-awesome/" target="_blank") CSS Tricks
        | . 