// THANK YOU
section
  section(data-background="img/gif/simone_lemon_maker_faire.gif")
    h1.white(style="padding-top:40vh; text-shadow:0.05em 0.05em 0.05em black, -1px -1px 1px black") Thank you.
    aside.notes
      p Wish I could be there.
      p Maybe next time?
      p Questions?
  
  section(data-background="#e6e924")
    figure
      img(src="svg/lemon.svg" style="width:212px; height:212px;")
    p(style="transform:translateY(25vh);")
      a(href="https://ahoylemon.xyz" target="_blank") 
        strong ahoylemon.xyz
    aside.notes
      h1 STICKERS