include partials/_variables.pug
doctype html
head
  include partials/_head.pug
body  
  include partials/_mixins.pug

  .reveal
    .slides

      // Video Screens
      include sections/_intros.pug
      
      // Personal Intro
      include sections/_hello.pug

      // CSS IS GREAT
      include sections/_css-is-great.pug
      
      // TODAY'S AGENDA
      include sections/_agenda.pug

      // OVERFLOW
      include sections/_overflow.pug

      // POSITION
      include sections/_position.pug

      // FLOAT
      include sections/_float.pug

      // HOPE...
      section
        section(data-background="img/bg/hope.jpg")

      // GRID
      include sections/_grid.pug 

      // IE SUCKS. ALSO IE IS DEAD
      include sections/_ie.pug

      // FLEX
      include sections/_flex.pug

      // CASCADE
      include sections/_cascade.pug 

      // CSS GAMES
      include sections/_games.pug 

      // CLOSING
      include sections/_closing.pug 

      // THANK YOU.
      include sections/_thank-you.pug
  
    include partials/_javascripts.pug
