html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=Edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="../css/example.css")
    title HELLO
  body.gridbody

    .grid.cocktails(style="grid-template-columns:repeat(auto-fill,minmax(250px, 1fr)); padding:20px;")

      .cocktail
        img(src="../svg/pina-colada.svg")
      .cocktail
        img(src="../svg/screwdriver.svg")
      .cocktail
        img(src="../svg/mojito.svg")
      .cocktail
        img(src="../svg/cuba-libre.svg")
      .cocktail
        img(src="../svg/b-52.svg")
      .cocktail
        img(src="../svg/margarita.svg")
      .cocktail
        img(src="../svg/tequila-sunrise.svg")
      .cocktail
        img(src="../svg/sex-on-the-beach.svg")
      .cocktail
        img(src="../svg/daquiri.svg")
      .cocktail
        img(src="../svg/manhattan.svg")
      .cocktail
        img(src="../svg/bloody-mary.svg")
      .cocktail
        img(src="../svg/long-island.svg")

