html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=Edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="../css/example.css")
    title HELLO
  body.gridbody

    style.
      /*
      .collins { order: 1; }
      .martini { order: 2; }
      .tulip   { order: 3; }
      .margarita { order: 4; }
      */

    .grid.cocktails(style="grid-template-columns:repeat(4,1fr); padding:20px;")

      .cocktail.pina-colada.tulip
        img(src="../svg/pina-colada.svg")
      .cocktail.screwdriver.collins
        img(src="../svg/screwdriver.svg")
      .cocktail.mojito.martini
        img(src="../svg/mojito.svg")
      .cocktail.cuba-libre.collins
        img(src="../svg/cuba-libre.svg")
      .cocktail.tequila-sunrise.tulip
        img(src="../svg/tequila-sunrise.svg")
      .cocktail.sex-on-the-beach.tulip
        img(src="../svg/sex-on-the-beach.svg")
      .cocktail.daiquiri.martini
        img(src="../svg/daquiri.svg")
      .cocktail.manhattan.martini
        img(src="../svg/manhattan.svg")
      .cocktail.bloody-mary.collins
        img(src="../svg/bloody-mary.svg")
      .cocktail.long-island.collins
        img(src="../svg/long-island.svg")
      .cocktail.porto-flip.martini
        img(src="../svg/porto-flip.svg")
      .cocktail.margarita
        img(src="../svg/margarita.svg")
