html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=Edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="../css/example.css")
    title HELLO
  body.gridbody

    .grid.cocktails(style="grid-template-columns:repeat(2,1fr); padding:20px;")

      .cocktail
        img(src="../svg/margarita.svg")
      .cocktail
        img(src="../svg/pina-colada.svg")
      .cocktail
        img(src="../svg/screwdriver.svg")
      .cocktail
        img(src="../svg/mojito.svg")
